<div class="container">
<div class="twelve columns relative">
    <!-- <div class="flexslider">
        <ul class="slides">
            <li>
            <a href="#">
                <#= image_tag "gallery/motel-from-road.jpg" #>
            </a>
            <p class="flex-caption">
                 Captions and cupcakes. Winning combination.
            </p>
            </li>
            <li>
            <a href="#"><img src="img/slider_2.jpg" alt=""></a>
            <p class="flex-caption">
                 Captions and cupcakes. Winning combination.
            </p>
            </li>
            <li>
            <a href="#"><img src="img/slider_3.jpg" alt=""></a>
            <p class="flex-caption">
                 Captions and cupcakes. Winning combination.
            </p>
            </li>
            <li>
            <a href="#"><img src="img/slider_4.jpg" alt=""></a>
            <p class="flex-caption">
                 Captions and cupcakes. Winning combination.
            </p>
            </li>
        </ul>
    </div><!-- end flexi-->
    <ul class="bxslider">
      <li><img src="http://placehold.it/700x381" /></li>
      <li><img src="http://placehold.it/700x381" /></li>
      <li><img src="http://placehold.it/700x381" /></li>
      <li><img src="http://placehold.it/700x381" /></li>
    </ul>
</div><!-- end sixteen columns -->
<div id="bx-pager" class="hide-on-mobile four columns">
      <a data-slide-index="0" href=""><img src="http://placehold.it/220x90" /></a>
      <a data-slide-index="1" href=""><img src="http://placehold.it/220x90" /></a>
      <a data-slide-index="2" href=""><img src="http://placehold.it/220x90" /></a>
      <a data-slide-index="3" href=""><img src="http://placehold.it/220x90" /></a>
    </div>
</div><!-- end container -->

<div class="bg_gray add-bottom_3">
<section class="container">

<div class="sixteen columns" id="banner_home">
    <div class="twelve columns alpha"><h2>Call us for reservation at <strong>00 43942 84382</strong></h2></div>
    <div class="four columns omega"><a href="#" class="button_yellow">Check availability</a></div>
    <br class="clear">
</div><!-- end book banner -->

<div class="four columns">
    <h2>Discover rooms available </h2>
    <p>
         Well magna. Vivamus iaculis sagittis dapibus vivamus iaculis sagittis cenas male cenas mal.
    </p>
    <p>
         Well magna. Vivamus iaculis sagittis dapibus vivamus iaculis sagittis cenas male cenas mal. Well magna. Vivamus iaculis sagittis dapibus vivamus iaculis sagittis cenas male cenas mal.
    </p>
</div>

<div class="four columns add-bottom">
    <div class="picture">
        <a href="img/room_1_room_page_2_big.jpg" data-rel="prettyPhoto" title=""><span class="magnify"></span><img src="img/room_1.jpg" alt="picture" class="scale-with-grid"></a><em></em>
    </div>
    <h3>Single room <strong>110$</strong><span> a comfortable solution</span></h3>
    <p>
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
    <ul class="room_facilities">
        <li class="lcd"><a class="tooltip_1" href="#" title="LCD TV">LCD TV</a></li>
        <li class="wifi"><a class="tooltip_1" href="#" title="Wifi broadband access">Wifi broadband access</a></li>
        <li class="breakfast"><a class="tooltip_1" href="#" title="Breakfast included">Breakfast included</a></li>
    </ul>
    <br class="clear add-bottom"/>
    <a href="#" class="button">Read more</a>
</div><!-- end room 1-->

<div class="four columns add-bottom">
    <div class="picture">
        <a href="img/room_2_room_page_2_big.jpg" data-rel="prettyPhoto" title=""><span class="magnify"></span><img src="img/room_2.jpg" alt="picture" class="scale-with-grid"></a><em></em>
    </div>
    <h3>Double room <strong>180$</strong><span>with breakfast included</span></h3>
    <p>
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
    <ul class="room_facilities">
        <li class="safe"><a class="tooltip_1" href="#" title="Safe-deposit box">Safe-deposit box</a></li>
        <li class="bath"><a class="tooltip_1" href="#" title="Large master bathroom">Large master bathroom</a></li>
        <li class="dinner"><a class="tooltip_1" href="#" title="Dinner included">Dinner included</a></li>
    </ul>
    <br class="clear add-bottom"/>
    <a href="#" class="button">Read more</a>
</div><!-- end room 2-->

<div class="four columns add-bottom">
    <div class="picture">
        <a href="img/room_3_room_page_2_big.jpg" data-rel="prettyPhoto" title=""><span class="magnify"></span><img src="img/room_3.jpg" alt="picture" class="scale-with-grid"></a><em></em>
    </div>
    <h3>Suite room <strong>210$</strong><span>unfurgetable journey</span></h3>
    <p>
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
    <ul class="room_facilities">
        <li class="dinner"><a class="tooltip_1" href="#" title="Dinner included">Dinner included</a></li>
        <li class="parking"><a class="tooltip_1" href="#" title="Parking">Parking</a></li>
        <li class="loundry"><a class="tooltip_1" href="#" title="Loundry service">Loundry service</a></li>
    </ul>
    <br class="clear add-bottom"/>
    <a href="#" class="button">Read more</a>
</div><!-- end room 3 -->

</section><!-- end container -->
</div><!-- end bg gray -->

<section class="container add-bottom">
<div class="eight columns amenities ">
<img src="img/hotel.jpg" class="scale-with-grid" alt="">
<h4>About the hotel <a href="about.html">Read more</a></h4>
<p>
    Vix in error iuvaret, at omnium dprompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque. Eu eum inermis verterem assentior.  Vix in error iuvaret, at omnium dprompta aliquam vel. <a href="#">Sea an purto vide posidonium</a>, eos modus dicit ne. Appetere dignissi.. </p>
<p>
    <strong>Vix in error iuvaret, at omnium dprompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. </strong>Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque. Eu eum inermis verterem assentior. Vix in error iuvaret, at omnium dprompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim. </p>
</div>
<div class="eight columns amenities">
<img src="img/spa.jpg" class="scale-with-grid" alt="">
<h4>Hotel facilties<a href="about.html">Read more</a></h4>
<p>
    Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque. Eu eum inermis verterem assentior.
</p>
<ul class="list_3">
    <li>Te per dolore expetenda voluptaria, an eam autem perfecto patrioque.</li>
    <li>Vix in error iuvaret, at omnium dprompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. </li>
    <li>Sea an purto vide posidonium, eos modus dicit ne.</li>
</ul>
</div>
</section><!-- end container hotel info -->