<div class="container hero">
    <div class="twelve columns relative">
        <ul class="bxslider">
          <% @slideshow.each do |slide| %>
          <li>
            <%= image_tag("gallery/" + slide[:name] + ".jpg",
                alt: slide[:caption], title: slide[:caption]) %>
          </li>
          <% end %>
        </ul>
    </div><!-- end sixteen columns -->
    <div id="bx-pager" class="hide-on-mobile four columns">
      <% @slideshow.each_with_index do |slide, i| %>
      <a data-slide-index="<%= i %>" href="">
        <%= image_tag("gallery/thumbnails/" + slide[:name] + ".jpg",
            alt: slide[:caption]) %>
      </a>
      <% end %>
    </div>
</div><!-- end container -->
<div class="bg_gray add-bottom_3 add-top_10">
    <section class="container">

    <div class="sixteen columns" id="banner_home">
        <div class="twelve columns alpha"><h2>Call us for reservation at <strong>00 43942 84382</strong></h2></div>
        <div class="four columns omega"><a href="#" class="button_yellow">Check our rooms</a></div>
        <br class="clear">
    </div><!-- end book banner -->

    <div class="eight columns amenities ">
        <img src="http://placehold.it/460x135" class="scale-with-grid" alt="">
        <h4>About the hotel <a href="about.html">Read more</a></h4>
        <p>
            Vix in error iuvaret, at omnium dprompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque. Eu eum inermis verterem assentior.  Vix in error iuvaret, at omnium dprompta aliquam vel. <a href="#">Sea an purto vide posidonium</a>, eos modus dicit ne. Appetere dignissi..
        </p>
        <p>
            <strong>Vix in error iuvaret, at omnium dprompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. </strong>Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque. Eu eum inermis verterem assentior. Vix in error iuvaret, at omnium dprompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim.
        </p>
    </div>
    <div class="eight columns amenities">
        <img src="http://placehold.it/460x135" class="scale-with-grid" alt="">
        <h4>Hotel facilties<a href="about.html">Read more</a></h4>
        <p>
            Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque. Eu eum inermis verterem assentior.
        </p>
        <ul class="list_3">
            <li>Te per dolore expetenda voluptaria, an eam autem perfecto patrioque.</li>
            <li>Vix in error iuvaret, at omnium dprompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. </li>
            <li>Sea an purto vide posidonium, eos modus dicit ne.</li>
        </ul>
    </div>


    </section><!-- end container -->
</div><!-- end bg gray -->

<section class="container add-bottom">

</section><!-- end container hotel info -->