/*============================================================================================*/
/* SITE STRUCTURE */
/*============================================================================================*/

/* #Site Header
================================================ */
header {
    background: #efefef image-url("bg_header.png") repeat-x left top;
    border-bottom: 1px solid #e6e6e6;
    height: 90px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    #logo {
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.3);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
        text-align: center;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
        background: image-url("palm-tree.png") no-repeat 10px 10px;
        background-size: 50px;
        background-color: white;
        a {
            display: block;
            height: 72px;
            margin: 15px auto;
            text-indent: 30px;
            width: 190px;
            font-size: 30px;
            line-height: 30px;
            color: #506c7e;
            font-weight: bold;
            text-decoration: none;
        }
    }
    // languages
    ul#lang {
        color: #fff;
        float: right;
        font-size: 12px;
        margin-top: 20px;
        text-transform: uppercase;
        a {
            color: #7d7d7d;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
        li {
            background: image-url("menu_footer_divider.png") right center no-repeat;
            float: left;
            margin-left: 10px;
            padding-right: 10px;
            &:last-child {
                background: none;
                padding-right: 0;
            }
        }
    }
    // weather
    #wxWrap {
    float: right;
    margin-top: 9px;
    width: 210px;
        #wxIntro {
            color: #666;
            display: inline-block;
            font: 12px/20px Helvetica,Arial;
            padding-top: 9px;
            vertical-align: top;
        }
        #wxIcon2 {
            display: inline-block;
            height: 34px;
            margin: 1px 6px 0 8px;
            overflow: hidden;
            width: 34px;
        }
        #wxTemp {
            color: #999;
            display: inline-block;
            font: 18px/28px Arial,Verdana,sans-serif;
            margin-left: 4px;
            padding-top: 5px;
            vertical-align: top;
        }
    }


    #wxIcon {
        background: url('http://l.yimg.com/a/lib/ywc/img/wicons.png') no-repeat 61px 0;
        display: inline-block;
        height: 24px;
        margin: 1px 6px 0 0px;
        overflow: hidden;
        width: 43px;
    }

    select.mobileMenu {
        color: #444;
        font: 14px 'PT Sans Narrow', sans-serif;
        margin: auto;
        margin-top: -10px;
        padding: 5px;
    }
}


/* #Site Footer
================================================ */
footer {
    background: #26282b image-url("bg_footer.png") repeat-x left top;
    color: #d1d1d1;
    padding: 20px 0 10px 0;
    width: 100%;
    #nav-footer {
        a {
            color: #d1d1d1;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
        li {
            background: image-url("menu_footer_divider.png") left center no-repeat;
            float: left;
            margin-right: 10px;
            padding-left: 10px;
            &:first-child {
                background: none;
                padding-left: 0;
            }
        }
    }
    .copy {
        text-align: right;
    }
}

/* #Content
================================================ */

/*=== START Fullscreen gallery stuff (currently not used)
#slidecaption {
    background: #fff;
    bottom: 2%;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    font-size: 2.20em;
    line-height: 16px;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.5);
    padding: 15px;
    position: absolute;
    right: 1%;
    text-align: right;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);
}

#slidecaption span {
    color: #999;
    display: block;
    font-size: 0.50em;
    margin-top: 10px;
}

#prevslide, #nextslide {
    bottom: 40px;
    height: 43px;
    margin-top: -21px;
    opacity: 0.6;
    position: absolute;
    width: 43px;
}

#prevslide {
    background: url-image("back.png");
    left: 10px;
}

#nextslide {
    background: url-image("forward.png");
    right: 10px;
}

#prevslide:active, #nextslide:active {
    margin-top: -19px;
}

#prevslide:hover, #nextslide:hover {
    cursor: pointer;
}

*/

/* CONTACT page STUFF*/
ul#follow li {
    float: left;
    margin-right: 10px;
}

ul#follow li a {
    display: block;
    height: 36px;
    text-indent: -9999px;
    width: 37px;
}

ul#follow li a#tw {
    background: url(../img/sprite_social.png) no-repeat 0 0;
}

ul#follow li a:hover#tw {
    background: url(../img/sprite_social.png) no-repeat 0 -42px;
}

ul#follow li a#rss {
    background: url(../img/sprite_social.png) no-repeat -47px 0;
}

ul#follow li a:hover#rss {
    background: url(../img/sprite_social.png) no-repeat -47px -42px;
}

ul#follow li a#vimeo {
    background: url(../img/sprite_social.png) no-repeat -94px 0;
}

ul#follow li a:hover#vimeo {
    background: url(../img/sprite_social.png) no-repeat -94px -42px;
}

ul#follow li a#fb {
    background: url(../img/sprite_social.png) no-repeat -141px 0;
}

ul#follow li a:hover#fb {
    background: url(../img/sprite_social.png) no-repeat -141px -42px;
}

/* END CONTACT page STUFF*/


/*============================================================================================*/
/* MISC */
/*============================================================================================*/
.picture {
    position: relative;
    em {
        background: image-url("shadow_1.png") no-repeat center top;
        display: block;
        height: 10px;
        margin-bottom: 10px;
        margin-top: -3px;
        width: 100%;
    }
}

.magnify {
    background: image-url("zoom_1.png") no-repeat 10px 10px;
    display: none;
    height: 92%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.ie8 .picture em {
    background: image-url("shadow_1.png") no-repeat center top;
    display: block;
    height: 10px;
    margin-bottom: 10px;
    margin-top: -2px;
    width: 100%;
}

.ie7 .picture em {
    background: image-url("shadow_1.png") no-repeat center top;
    display: block;
    height: 10px;
    margin-bottom: 10px;
    margin-top: 1px;
    width: 100%;
}

ul.list_3 li {
    background: image-url("tick_1.png") no-repeat left 3px;
    line-height: 16px;
    padding-left: 20px;
}

ul.list_4 li {
    background: image-url("arrow_2.png") no-repeat 3px 5px;
    line-height: 18px;
    padding-left: 20px;
}

ul.list_5 li {
    background: image-url("arrow_3.png") no-repeat 5px 7px;
    line-height: 18px;
    padding-left: 20px;
}

ul.list_6 li {
    background: image-url("arrow_4.png") no-repeat 4px 6px;
    line-height: 18px;
    padding-left: 20px;
}

ul.room_facilities {
    padding-bottom: 20px;
}

ul.room_facilities li {
    display: block;
    float: left;
    height: 30px;
    margin: 0 10px 10px 0;
    text-indent: -9999px;
    width: 30px;
}

ul.room_facilities li a {
    cursor: pointer;
    display: block;
    height: 30px;
    width: 30px;
}

ul.room_facilities li.lcd a {
    background: image-url("icons_room.png") no-repeat -1px 0;
}

ul.room_facilities li.wifi a {
    background: image-url("icons_room.png") no-repeat -50px 0;
}

ul.room_facilities li.safe a {
    background: image-url("icons_room.png") no-repeat -97px 0;
}

ul.room_facilities li.bath a {
    background: image-url("icons_room.png") no-repeat -144px 0;
}

ul.room_facilities li.loundry a {
    background: image-url("icons_room.png") no-repeat -192px 0;
}

ul.room_facilities li.parking a {
    background: image-url("icons_room.png") no-repeat -242px 0;
}

ul.room_facilities li.breakfast a {
    background: image-url("icons_room.png") no-repeat -288px 0;
}

ul.room_facilities li.dinner a {
    background: image-url("icons_room.png") no-repeat -335px 0;
}

.facilities_desc {
    background-color: #f9f9f9;
    border: 1px solid #ededed;
    padding: 12px;
}

.facilities_desc ul li {
    border-bottom: 1px solid #e8e8e8;
}

.facilities_desc ul li:last-child {
    border-bottom: none;
}

.relative {
    position: relative;
}

.add-top_10 {
    margin-top: 10px !important;
}